{% extends 'home_base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Edit Profile</title>
    {% endblock %}
  </head>
<body>
  {% block body %}
  <div class="row justify-content-around align-items-center mt-5 pt-5">
      <div class="col-sm-4">
        <form class="" action="" method="post">
          {% csrf_token %}
          {{ form }}
          <div class="row mt-4 pl-3">
            <button type="submit" class="btn login">Save</button>
          </div>
        </form>

        <div class="row mt-4 pl-3">
          <a href="{% url 'home:change_password' %}" type="button" class="btn login" name="changePassword">Change Password</a>
        </div>
      </div>
  </div>
  {% endblock %}
</body>
</html>
