{% extends 'home_base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>Login</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="row justify-content-center mt-5 pt-5">
      <div class="col-sm-4">
        <div class="card">
          <form class="px-3 py-3" method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.as_p }}
            </div>
            <button class="btn login" type="submit" name="button">Login</button>
            <div class="row mt-4 pl-3">
              <a href="{% url 'home:password_reset' %}" class="btn login">Forgot Password</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% endblock %}

  </body>
</html>
